/* Gerais */
body{
  font-family: 'Roboto', sans-serif;
  background-color: #2c2828;
}

.row{
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li{
  color: #444;
  font-size: 14px;
}
:root{
  --hue: 159;
  --basecolor:  #063b81;
  --basesecondcolor: #1b98e0;
  --basecolor-alt: #67a8cd;
  --bodycolor: hsl(0 0% 98%);
  --title-color: white;
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --lateral-color: #b5bac9;
}
/* Barra de navegação */
header, .navbar {
  background-color: var(--basecolor);
  box-shadow: 10px 10px 31px -15px rgba(0,0,0,0.75);
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}
#logo {
  width: 30px;
  height: 30px;
}
.navbar-brand {
  padding: 0;
  color: #fff;
}

.navbar-brand:hover{
  color: #fff;
}

#navbar-links a {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}
/* time */
#about-area {
  background-color: #F9F9F9;
}

.main-title{
  color: rgb(245, 241, 241);
  letter-spacing: 5px;
  font-family: 'Fredoka One';
  margin: 30px 0 35px 0;
  font-size: 60px;
  text-align: center;

}


.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}
#about-list {
  list-style: none;
  padding: 0;
}
#about-list li{
  line-height: 30px;
}
#about-list i{
  color: #65daf9;
  margin-right: 15px;
}
.card {
  margin-bottom: 2rem;
}
.card:hover{
  height: 402px;
  width: 275px;
  transform: translateX(-10px);
  transition: .5s;
  box-shadow: 1px 14px 80px -2px rgba(5,5,5,1);
}
i {
  font-size: 20px;
  margin-right: 3px;
}
img {
  height: 220px;
}
.card-body{
  height: 160px;
  background-color: rgb(116, 114, 114);
  color:#F9F9F9;
}
.card-text{
  color: #F9F9F9;
}
a{
  color: #F9F9F9;
}
.caue{
  margin-left: 8rem;
}

/* fundo */
.bg_video{
position: absolute;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: 100%;
height: 100%;
z-index: -100;
top: 120px;
}
.bg_videofull{
  display: none;
  }
  .bg_videofull2{
    display: none;
    }

@media(max-width: 768px){
  /* time */
 
  .col-md-3{
    margin-right: 2rem;
  }
  .card {
  width: 200px;
  height: auto;
  margin-left: 2rem;
  }
  .caue{
    margin-left: 0;
  }
  .marcos{
    margin-right: 0;
  }
  .fundo-area{
   padding: 0;
    margin: 0;
  }
  .bg_video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    top: 968px;
    }
    .bg_videofull{
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 80rem;
      height: 100%;
      z-index: -100;
      top: 300px;
      display: block;
      }
}
@media(max-width: 425px){
  /* time */
  .card {
    margin-bottom: 4rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .col-md-3{
    margin-right: 0;
  }
  .caue{
    margin-left: 0;
  }
  .main-title{
    color: rgb(245, 241, 241);
    letter-spacing: 2px;
    font-family: 'Fredoka One';
    margin: 30px 0 35px 0;
    font-size: 40px;
    text-align: center;
  
  }
  
  .bg_video{
    position: absolute;
    right: 0;
    left: 0.5rem;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100rem;
    height: 100%;
    z-index: -100;
    top: 2800px;
    }
    .bg_videofull{
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 100rem;
      height: 2000px;
      z-index: -100;
      top: 400px;
      display: block;
      }
      .bg_videofull2{
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: 100rem;
        height: 2000px;
        z-index: -100;
        top: 1500px;
        display: block;
        }
}
