*{
  padding: 0;
  margin: 0;
}
html{
  overflow: hidden;

}

body{
  font-family: arial;
  height: 100vh;
  overflow: hidden;
  background-color: var(--basecolor);
}
:root{
  --hue: 159;
  --basecolor:  #1f1f1f;
  --basesecondcolor: #836FFF;
  --basecolor-alt: #67a8cd;
  --bodycolor: hsl(0 0% 98%);
  --title-color: white;
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --lateral-color: #001447;
  --sidebar-text-color:#D3D3D3;
  --sidebar-altcolor:#344a8a;
}
/* Barra de navegação */
header, .navbar {
  height: 6vh;
  margin-bottom: 0;
  position: fixed;
  background-color: var(--basecolor);
  box-shadow: 10px 10px 31px -15px rgba(0,0,0,0.55);
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}
#logo {
  width: 30px;
  height: 30px;
  margin-left: 2rem;
}


.fa-solid{
  cursor: pointer;
}
.navbar-brand {
  padding: 0;
  color: #fff;
}

.navbar-brand:hover{
  color: #fff;
}

#navbar-links a {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}
/* Sidebar*/

#sidebar {
    background-color: var(--lateral-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    overflow-y: auto;
    border-right: 2.5px solid #4F4F4F;
    width: 350px;
    height: 100vh;
    left: -350px;
    position: fixed;
    transition: all .5s;
}
#sidebar::-webkit-scrollbar {
  width: 8px;               
}
#sidebar::-webkit-scrollbar-track {
  background: transparent;        
}
#sidebar::-webkit-scrollbar-thumb {
  background-color: #808080;    
  border-radius: 6px;  
  border: 3px solid transparent;     
}

nav.showmenu {
    transform: translateX(350px);
}

.sidebar-a{
  text-decoration: none;
  color: var(--sidebar-text-color);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px 10px ;
  list-style: none;
  box-sizing: border-box;
  background-color: var(--sidebar-altcolor);
  margin-bottom: 1rem;
  border-radius: 0.9rem;
}

.sidebar-a:hover{
  background-color: var(--basesecondcolor) ;
  color: #D3D3D3;
  text-decoration: none;
  transition: .2s;
}

.sidebar-about{
  margin-top: 40rem;
  
}
.sidebar-user{
  padding: 1.2rem;
  background-color: #3d3d3d;
  border-radius: .8rem;
  width: 300px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 4.3rem;
  top: 2.2rem;
  border: 3px solid var(--basesecondcolor);
}
.sidebar-user strong{
  color: var(--sidebar-text-color);
}

.sidebar-user span{
  cursor: pointer;
  margin-left: 50%;
  transition: .4s;
  color: var(--sidebar-text-color);
}
.side-bar{
  top: 70px;
  position: absolute;
  width: 100%;
  height: 300px;
  list-style: none;
}
.side-bar_container{
  margin-left: 0;
  padding: 0;
}
.sidebar-areas{
  background-color: var(--sidebar-altcolor);
  width: 300px;
  height: 300px;
  padding: 1rem;
  border-radius: 0.9rem;
  margin-left: auto;
  margin-right: auto;
}
.sidebar-hr{
  margin-top: 16rem;
  box-shadow: 2px -11px 5px -6px rgba(0,0,0,0.96);
}
i{
  font-size: 40px;
  color: #fff;
}
.satelite, .sateliteareas, .visao3d, .plantaala, .plantaareas{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--sidebar-text-color);
  font-weight: bold;
}
.principalli{
  margin-bottom: 2rem;
  padding: 20px 0;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0d1f63;
  border-radius: 10px;
  text-align: center;
}
.principalli:hover{
  background-color: var(--basesecondcolor);
  padding: 22px 0;
  transition: .2s;

}

.satelite:hover, .sateliteareas:hover, .visao3d:hover, .plantaala:hover, .plantaareas:hover{
 color: var(--sidebar-text-color);
 transition: .2s;
}
.sidebar-title{
  background-color: var(--sidebar-altcolor);
  width: 300px;
  height: 50px;
  align-items: center;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

}
.sidebar-h3{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 8px;
  text-align: center;
  color: var(--sidebar-text-color);
}
.sidebar-i-h3{
  color: var(--sidebar-text-color);
  font-size: 30px;
  margin-right: 10px;
}
.sidebar-i{
  color: var(--sidebar-text-color);
  font-size: 25px;
  margin-right: 6px;
  margin-left: 6px;
}
.sidebar-i-s{
  color: var(--sidebar-text-color);
  font-size: 25px;
  margin-right: 6px;
  margin-left: 6px;
}
.sidebar-loc{
  font-size: 20px;
}

.dropdown{
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
 position: relative;
}
.dropdown-menu-dark{
  list-style: none;
  background-color: var(--sidebar-text-color);
  border-radius: .5rem;
  left: 60%;
  top: -5.5rem;
  display: none;
  position: absolute;
}
ul.see{
  display: block;
  transition: .5s;
}
span.see{
  transform: rotate(180deg);
  transition: .4s;
}
.dropdown-item{
  border-radius: .4rem;
}
.dropdown-item:hover{
  background-color: var(--basecolor-alt);
}
.rounded-circle {
  margin-right: 1rem;
}
#sidebar{
  top: -0px;
}
/* Mapas*/
.map-area{
  height: 100%;
  margin: 0;
  margin-right: 0px;
  margin-left: 0;
  padding: 0;
  }

.map {
  height: 94vh;
  width: 100vw ;
  display: flex;
  opacity: 0;
  padding: auto;
  position: relative;
  border-radius: 2rem;
}
.areas{
  margin-top: 6vh;
  padding: 0;
}
.areas::before {
  content:'';
  height: 100px;
  width: 100px;
  position: absolute;
 top: 50vh;
 left: 45vw;
 border-radius: 100%;
  z-index: -1;
  border: 10px  solid #DCDCDC;
  border-left: 10px solid #4169E1 ;
  animation: 1s infinite;
  animation-name: loading;
  
}
@keyframes loading{
  0% {
    transform: rotate(0);
  }
  100% {
		transform: rotate(360deg);
	}

}

img.stlgeral{
  visibility: hidden;
  opacity: 0;
}
img.stlgeralshow{
  visibility: visible;
  opacity: 1;
}

/* layout*/
.main-title{
  height: 80px;
  margin-top: 100px;
  border-bottom: .25rem  solid black;
  margin-bottom: 0;
}
.main-title h1{
  display: flex;
  margin-left: 20rem;
}
main{
  height: 60vh;
}
.main-info{
 margin-right: 50px;
 margin-top: -25rem;
 border-right: 40px;
 width: 20rem;
 height: 35rem;
 border-radius: 1rem;
 transform: translateX(370px);
padding: 2.5rem;
position: relative;
background-color: white;
justify-items: center;
}

.main-maps{
 display: flex;
 width: 100vw;
 height: 94vh;
margin-top: 6vh;
}
.info{
  color: black;
}
/* Find */
.find{
  position: relative;
  background-color: var(--sidebar-text-color);
  width: 50%;
  left: 25%;
  height: 60vh;
  top: 45%;
  transition: .5s;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  box-shadow: 2px -2px 46px -2px rgba(0,0,0,0.41);
}
.find-btn{
  position: absolute;
  background-color: var(--sidebar-text-color);
  border-radius: 50rem;
  height: 4rem;
  padding: 0;
  left: 48%;
  top: 85%;
  transition: .5s;
}
.find-btn span{
  font-size: 4rem;
  padding: 0;
}

.find-btn button{
  background-color: transparent;
  border: none;
  outline: none;
}

.title-find{
  background-color: var(--basecolor);
  color: var(--sidebar-text-color);
  text-align: center;
  height: 3rem;
  padding: .5rem;
  margin-bottom: 1.5rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.search-find{
  margin-bottom: 1rem;
}
.search-find input{
  margin-left: 1rem;
  width: 300px;
  padding: 0 1rem;
  border-radius: 1rem;
  height: 35px;
}
.search-btn{
  background-color: var(--sidebar-altcolor);
  outline: none;
  width: 5rem;
  height: 35px;
  color: var(--sidebar-text-color);
  border-radius: 1rem;
}
.main-ul{
  list-style: none;
}
.partida{
  padding: 0 2rem;
  border-right: 4px solid var(--basesecondcolor) ;
  border-left: 4px solid var(--basesecondcolor) ;
  background-color: 	#F0F8FF;
  padding: .5rem 4rem;
  height: 60%;
  overflow-y: scroll;
}
.partida input:checked + label{
    font-weight: bold;
    list-style: none;
    color: var(--basesecondcolor);
    border-bottom: 3px solid var(--basesecondcolor);
}
.partida h4{
  font-weight: bold;
  background-color: var(--basecolor);
  color: var(--sidebar-text-color);
  text-align: center;
  border-radius: .5rem;
  }
.destino {
 padding: .5rem 4rem;
 background-color: #F0F8FF;
 border-left: 4px solid var(--basesecondcolor) ;
 border-right: 4px solid var(--basesecondcolor) ;
 height: 60%;
 overflow-y: scroll;
}
.destino h4{
font-weight: bold;
background-color: var(--basecolor);
color: var(--sidebar-text-color);
text-align: center;
border-radius: .5rem;
}
.destino label{
  font-size: 14px;
}
.partida label{
  font-size: 14px;
}
.destino input:checked + label{
  font-weight: bold;
  list-style: none;
  color: var(--basesecondcolor);
  border-bottom: 3px solid var(--basesecondcolor);
}
.destino::-webkit-scrollbar, .partida::-webkit-scrollbar {
  width: 8px;               
}
.destino::-webkit-scrollbar-track, .partida::-webkit-scrollbar-track {
  background: transparent;        
}
.destino::-webkit-scrollbar-thumb, .partida::-webkit-scrollbar-thumb {
  background-color: #808080; 
  height: 10px;   
  border-radius: 6px;  
  border: 3px solid transparent;     
}
.main-find .row{
  position: relative;
}
.rotas{
  position: absolute;
  top: 30%;
  left: -9%;
  z-index: 4;
}
.rotas button{
  height: 80px;
  background-color: var(--basesecondcolor);
  border-radius: 100%;
  padding: .7rem;
  cursor: pointer;
}
.rotas button:hover{
 background-color: var(--basecolor-alt);
}
.rotas button span{
  font-size: 55px;
}
div.open{
  top: 46%;
  transition: .5s;
  transform: rotate(180deg);
}
div.openent{
  top: -20%;
  transition: .5s;
}

@media(max-width: 1366px){
  .main-title{
    display: none;
  }
  .main-maps{
    margin-top: 0;
    height: 94vh;
  }
  .sidebar-about{
    margin-top: 30.5rem;
    
  }
  .sidebar-title{
    width: 285px;
    height: 50px;
  }
  .sidebar-h3{
    margin-top: 1rem;
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    color: var(--sidebar-text-color);
  }
  .sidebar-areas{
    width: 285px;
    height: 285px;
  }
  .principalli{
    padding: 15px 0;
    font-size: 16px;
    width: 240px;
    
  }
  .sidebar-a{
    width: 285px;
    padding: 15px 10px ;
    list-style: none;
    box-sizing: border-box;
    background-color: var(--sidebar-altcolor);
    margin-bottom: 1rem;
    border-radius: 0.9rem;
  }
  .dropdown{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .sidebar-user{
    padding: auto;
  }
  
  .map-area{
    margin-top: 0;
  }
}
@media(max-width: 1440px){
  header, .navbar {
    height: 60px;
  }
  
  .main-title{
    display: none;
  }
  .main-maps{
    margin-top: 0;
    height: 94vh;
  }
  .sidebar-about{
    margin-top: 27.5rem;
    
  }
  .sidebar-title{
    width: 275px;
    height: 48px;
  }
  .sidebar-h3{
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    color: var(--sidebar-text-color);
  }
  .sidebar-i-h3{
    color: var(--sidebar-text-color);
    font-size: 25px;
  }
  .sidebar-areas{
    width: 260px;
    height: 270px;
  }
  .principalli{
    padding: 15px 0;
    font-size: 14px;
    width: 230px;
    
  }
  .sidebar-a{
    width: 275px;
    padding: 15px 10px ;
    list-style: none;
    box-sizing: border-box;
    background-color: var(--sidebar-altcolor);
    margin-bottom: 1rem;
    border-radius: 0.9rem;
  }
  .dropdown{
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
  }
  .sidebar-user{
    padding: auto;
    height: 65px;
  }
  
  .map-area{
    margin-top: 0;
  }
  div.open{
    left: 75%;
    transition: .5s;
    transform: rotate(180deg);
    z-index: 1000;
  }
  div.openent{
    transition: .5s;
    overflow-y: auto;
    left: 10%;
    width: 80vw;
    height: 100vh;
    display: block;
    transition: .5s;
  }
}
@media(max-width: 1024px){
  .main-title{
    display: none;
  }
  .main-maps{
    margin-top: 0;
    height: 94vh;
  }
  .sidebar-about{
    margin-top: 32rem;
    
  }
  .sidebar-title{
    width: 285px;
    height: 50px;
  }
  .sidebar-h3{
    margin-top: 1rem;
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    color: var(--sidebar-text-color);
  }
  .sidebar-areas{
    width: 285px;
    height: 285px;
  }
  .principalli{
    padding: 15px 0;
    font-size: 16px;
    width: 240px;
    
  }
  .sidebar-a{
    width: 285px;
    padding: 15px 10px ;
    list-style: none;
    box-sizing: border-box;
    background-color: var(--sidebar-altcolor);
    margin-bottom: 1rem;
    border-radius: 0.9rem;
  }
  .dropdown{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .sidebar-user{
    padding: auto;
  }
  
  .map-area{
    margin-top: 0;
  }
  .find{
    display: none;
   }
   .find-btn{
     left: 45vw;
   }
   .search-find {
    background-color: #acacac;
    border-radius: 1rem;
    padding: 2rem 0;
   }
   .search-find input{
     margin-left: 22%;
     margin-right: 22%;
     margin-bottom: 1rem;
     width: 500px;
     padding: 0 1rem;
     border-radius: 1rem;
     height: 35px;
   }
   .search-btn{
    margin-left: 42%; 
    width: 150px;
    margin-bottom: 2rem;
   }
   .partida{
     margin-bottom: 2rem;
     height: 100%;
     padding: 1rem 2rem;
     overflow-y: scroll;
   }
   .col-md-6{
     height: 50vh;
     margin-bottom: 2rem;
   }
 
   .partida h4{
     font-weight: bold;
     background-color: var(--basecolor);
     color: var(--sidebar-text-color);
     text-align: center;
     border-radius: .5rem;
     }
   .destino {
     padding: 1rem 2rem;
    background-color: #F0F8FF;
   
    height: 100%;
    overflow-y: scroll;
   }
   .destino h4{
   font-weight: bold;
   background-color: var(--basecolor);
   color: var(--sidebar-text-color);
   text-align: center;
   border-radius: .5rem;
   }
   .rotas{
     position: absolute;
     top: -15%;
     left: 65%;
     z-index: 4;
   }
   .rotas button{
     height: 80px;
     
   }
   div.open{
     top: 6%;
     left: 75%;
     transition: .5s;
     transform: rotate(180deg);
     z-index: 1000;
   }
   div.openent{
     top: -100%;
     transition: .5s;
     overflow-y: auto;
     left: 0;
     width: 100vw;
     height: 100vh;
     display: block;
     transition: .5s;
   }
}

@media(max-width: 768px){
  .main-title{
    display: none;
  }
  .main-maps{
    margin-top: 0;
    height: 94vh;
  }
  .sidebar-about{
    margin-top: 32rem;
    
  }
  .sidebar-title{
    width: 285px;
    height: 50px;
  }
  .sidebar-h3{
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    color: var(--sidebar-text-color);
  }
  .sidebar-areas{
    width: 285px;
    height: 285px;
  }
  .principalli{
    padding: 15px 0;
    font-size: 16px;
    width: 240px;
    
  }
  .sidebar-a{
    width: 285px;
    padding: 15px 10px ;
    list-style: none;
    box-sizing: border-box;
    background-color: var(--sidebar-altcolor);
    margin-bottom: 1rem;
    border-radius: 0.9rem;
  }
  .dropdown{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .sidebar-user{
    padding: auto;
  }
  
  .map-area{
    margin-top: 0;
  }
  .find{
    display: none;
   }
   .find-btn{
     left: 45vw;
   }
  
   .search-find input{
     margin-left: 13%;
     margin-right: 13%;
     margin-bottom: 1rem;
     width: 500px;
     padding: 0 1rem;
     border-radius: 1rem;
     height: 35px;
   }
   .search-btn{
    margin-left: 35%; 
    width: 200px;
    margin-bottom: 2rem;
   }
   .partida{
     margin-bottom: 2rem;
     height: 100%;
     padding: 1rem 2rem;
     overflow-y: scroll;
   }
   .col-md-6{
     height: 50vh;
     margin-bottom: 2rem;
   }
 
   .partida h4{
     font-weight: bold;
     background-color: var(--basecolor);
     color: var(--sidebar-text-color);
     text-align: center;
     border-radius: .5rem;
     }
   .destino {
     padding: 1rem 2rem;
    background-color: #F0F8FF;
   
    height: 100%;
    overflow-y: scroll;
   }
   .destino h4{
   font-weight: bold;
   background-color: var(--basecolor);
   color: var(--sidebar-text-color);
   text-align: center;
   border-radius: .5rem;
   }
   .rotas{
     position: absolute;
     top: -15%;
     left: 65%;
     z-index: 4;
   }
   .rotas button{
     height: 80px;
     
   }
   div.open{
     top: 6%;
     left: 75%;
     transition: .5s;
     transform: rotate(180deg);
     z-index: 1000;
   }
   div.openent{
     top: -100%;
     transition: .5s;
     overflow-y: auto;
     left: 0;
     width: 100vw;
     height: 100vh;
     display: block;
     transition: .5s;
   }
}

@media(max-width: 425px){
  .main-title{
    display: none;
  }
  .main-maps{
    margin-top: 0;
    height: 94vh;
  }
  .sidebar-about{
    margin-top: 30rem;
    
  }
  .map-area{
    margin-top:0;
  }
  .sidebar-title{
    width: 280px;
    height: 50px;
  }
  .sidebar-h3{
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    color: var(--sidebar-text-color);
  }
  .sidebar-areas{
    width: 280px;
    height: 280px;
  }
  .principalli{
    padding: 15px 0;
    font-size: 14px;
    width: 240px;
    
  }
  .sidebar-a{
    text-decoration: none;
    color: var(--sidebar-text-color);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    padding: 15px 10px ;
    list-style: none;
    box-sizing: border-box;
    background-color: var(--sidebar-altcolor);
    margin-bottom: 1rem;
    border-radius: 0.9rem;
  }
  
  .sidebar-i-h3{
    color: var(--sidebar-text-color);
    font-size: 25px;
  }
  .sidebar-i{
    color: var(--sidebar-text-color);
    font-size: 25px;
    margin-right: 6px;
    margin-left: 6px;
  }
  .dropdown{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
   
  }
  .find{
   display: none;
  }
  .find-btn{
    left: 45vw;
  }
 
  .search-find input{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1rem;
    width: 300px;
    padding: 0 1rem;
    border-radius: 1rem;
    height: 35px;
  }
  .search-btn{
   margin-left: 30%; 
   width: 150px;
   margin-bottom: 2rem;
  }
  .partida{
    margin-bottom: 2rem;
    height: 100%;
    padding: 1rem 2rem;
    overflow-y: scroll;
  }
  .col-md-6{
    height: 50vh;
    margin-bottom: 2rem;
  }

  .partida h4{
    font-weight: bold;
    background-color: var(--basecolor);
    color: var(--sidebar-text-color);
    text-align: center;
    border-radius: .5rem;
    }
  .destino {
    padding: 1rem 2rem;
   background-color: #F0F8FF;
  
   height: 100%;
   overflow-y: scroll;
  }
  .destino h4{
  font-weight: bold;
  background-color: var(--basecolor);
  color: var(--sidebar-text-color);
  text-align: center;
  border-radius: .5rem;
  }
  .rotas{
    position: absolute;
    top: -15%;
    left: 65%;
    z-index: 4;
  }
  .rotas button{
    height: 80px;
    
  }
  div.open{
    top: 6%;
    left: 75%;
    transition: .5s;
    transform: rotate(180deg);
    z-index: 1000;
  }
  div.openent{
    top: -100%;
    transition: .5s;
    overflow-y: auto;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    transition: .5s;
  }
}
@media(max-width: 375px){
  .search-find input{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    width: 300px;
    padding: 0 1rem;
    border-radius: 1rem;
    height: 35px;
  }
  .search-btn{
    margin-left: 28%; 
    width: 150px;
    margin-bottom: 2rem;
   }
}
